name: HROne Attendance Bot

on:
    schedule:
        # Runs at 10:00 AM IST (Check In) - Monday to Friday
        - cron: "30 4 * * 1-5"

        # Runs at 10:00 PM IST (Check Out) - Monday to Friday
        - cron: "30 16 * * 1-5"

    # Allows you to run this manually from the Actions tab for testing
    workflow_dispatch:

jobs:
    mark-attendance:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v3

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: "3.9"

            - name: Install Dependencies
              run: |
                  pip install -r requirements.txt

            - name: Run Attendance Script
              env:
                  HR_EMAIL: ${{ secrets.HR_EMAIL }}
                  HR_PASSWORD: ${{ secrets.HR_PASSWORD }}
              run: python bot.py
